@tailwind base;
@tailwind components;

@layer base {
  #home {
    @apply relative 
    /* bg-[url('../assets/bgIMG.png')]  */
    bg-cover bg-repeat bg-center;
  }

  #home .app__wrapper {
    @apply p-0;
  }

  #home .app__wrapper .copyright {
    @apply hidden;
  }

  .app__header-badge .badge-cmp,
  .tag-cmp {
    @apply py-4 px-8 border-white rounded-[15px] flex-row
    dark:bg-bgDark-700
    w-auto 
    shadow-lg 
    dark:shadow-zinc-900 dark:shadow-xl;
  }

  .app__header-badge .tag-cmp {
    @apply flex-col mt-12;
  }

  .app__header-badge .tag-cmp p {
    @apply w-full uppercase text-right;
  }

  .app__header-badge span {
    @apply text-[2.5rem]
    xxl:text-[5rem];
  }

  .app__header-circles div{
    @apply w-[100px] h-[100px] rounded-full 
    bg-white dark:bg-bgDark-700
    shadow-lg
    dark:shadow-zinc-900 dark:shadow-xl;
  }

  .app__header-circles div img{
    @apply w-[60%] h-[60%]
  }

  .app__header-circles div:nth-child(1){
    @apply w-[100px] h-[100px]
    xxl:w-[400px] xxl:h-[400px];
  }

  .app__header-circles div:nth-child(2){
    @apply m-7 w-[150px] h-[150px]
    xxl:w-[170px] xxl:h-[170px];
  }

  .app__header-circles div:nth-child(3){
    @apply w-[70px] h-[70px]
    xxl:w-[200px] xxl:h-[200px];
  }

  .app__header-img img{
    @apply w-full object-contain z-[1]
    sm:w-[80%]
  }
}

@layer components {
  .app__header {
    @apply flex-1 w-full h-full flex-col
    pt-24 px-4 pb-8
    xs:pt-24 xs:px-8 xs:pb-0
    xl:flex-row
    xxl:pt-8;
  }

  .app__header-info {
    @apply flex-[0.65] flex flex-col justify-start items-start h-full
    w-full mr-0;
  }

  .app__header-badge {
    @apply w-full flex justify-start items-start flex-col
    xl:justify-end xl:items-end;
  }

  .app__header-circles {
    @apply flex-[0.75] flex flex-row justify-evenly items-start
    w-full ml-0 flex-wrap
    xl:flex-col xl:ml-4;
  }

  .app__header-img{
    @apply flex-1 h-full flex justify-center items-center relative
    my-8 mx-0
    transition-all duration-300 ease-in-out;
  }
}
