@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@import "./App.css";
@import "./Navbar.css";
@import "./About.css";
@import "./Header.css";
@import "./Work.css";
@import "./Skills.css";
@import "./Footer.css";

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  html {
    font-family: "DM Sans", sans-serif;
    
  }
}
/* 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
} */
